/* Example styling of a h1 element */
body {
  background-color:whitesmoke;
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
}


h1 {
  color: #ff9900;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
}

p {
  font-size: small;
  text-align: center;
}

p1 {
  font-size: small;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width:auto
}
